#challenges{
  width: 40%;
  height: 40%;
  background-color: tan;
  margin: auto;
}
#problems{
  width: 40%;
  height: 40%;
  background-color: tan;
  margin: auto;
}
#results{
  width: 40%;
  height: 40%;
  background-color: tan;
  margin: auto;
}
#debugging{
  width: 40%;
  height: 40%;
  background-color: PaleGoldenRod;
  margin: auto;
}
